
#hello {
    font-family: Helvetica, Neue;
    color: #3D3D3D;
    font-size: 28px;
    font-weight: Bold;
    margin-bottom: 0px;
    margin-top: 35px;
    
}
#web-designer {
    font-family: Helvetica, Neue;
    color: #3D3D3D;
    font-size: 28px;
    font-weight: 300;
    
}


#logo {
    width: 175px;
    height: 100px;
}

.header {
    margin: 30px;
}

#hero {
    width: 100%;
    height: 360px;


    
}